absl-py==0.10.0
alabaster==0.7.12
alembic==1.4.2
appdirs==1.4.4
argo-models==2.2.1a0
argon2-cffi==20.1.0
asgiref==3.3.1
asn1crypto==0.24.0
astroid==2.2.5
astropy==3.1.2
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.5.4
Babel==2.6.0
backcall==0.2.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.7.1
bitarray==0.8.3
bkcharts==0.2
bleach==3.1.5
bokeh==1.0.4
boto==2.49.0
Bottleneck==1.2.1
bump2version==1.0.0
bumpversion==0.6.0
cachetools==4.1.1
certifi==2020.6.20
certipy==0.1.3
cffi==1.14.1
chardet==3.0.4
click==7.1.2
cloudpickle==1.5.0
colorama==0.4.3
conda==4.6.11
conda-build==3.17.8
conda-verify==3.1.1
ConfigArgParse==1.2.3
configparser==5.0.0
contextlib2==0.5.5
coverage==5.2.1
cryptography==3.0
cycler==0.10.0
Cython==0.29.6
cytoolz==0.9.0.1
dask==1.1.4
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.10
distlib==0.3.1
distributed==1.26.0
Django==3.1.4
dnspython==2.0.0
docutils==0.16
elyra==1.0.0
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==3.0.12
flake8==3.8.3
Flask==1.1.2
Flask-BasicAuth==0.2.0
future==0.17.1
gast==0.3.3
gevent==20.9.0
geventhttpclient==1.4.5
gitdb==4.0.5
GitPython==3.1.7
glob2==0.6
gmpy2==2.0.8
google-api-core==1.22.1
google-auth==1.20.1
google-auth-oauthlib==0.4.1
google-cloud-core==1.4.1
google-cloud-storage==1.30.0
google-crc32c==0.1.0
google-pasta==0.2.0
google-resumable-media==0.7.1
googleapis-common-protos==1.52.0
greenlet==0.4.17
grpcio==1.32.0
h5py==2.10.0
heapdict==1.0.0
html5lib==1.0.1
idna==2.10
imageio==2.5.0
imagesize==1.1.0
importlib-metadata==1.7.0
ipdb==0.13.3
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.16
itsdangerous==1.1.0
jdcal==1.4
jedi==0.17.2
jeepney==0.4.3
Jinja2==2.11.2
json5==0.9.5
jsonpatch==1.26
jsonpointer==2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.0.0
jupyter-core==4.6.3
jupyter-telemetry==0.1.0
jupyterhub==1.1.0
jupyterlab==2.2.4
jupyterlab-git==0.20.0
jupyterlab-server==1.2.0
Keras-Preprocessing==1.1.2
keyring==21.3.0
kfp==0.5.1
kfp-notebook==0.11.0
kfp-server-api==0.5.0
kiwisolver==1.0.1
kubernetes==11.0.0
lazy-object-proxy==1.3.1
libarchive-c==2.8
lief==0.9.0
llvmlite==0.28.0
locket==0.2.0
locust==1.4.1
lxml==4.3.2
Mako==1.1.3
Markdown==3.3
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
minio==6.0.0
mistune==0.8.4
mkl-fft==1.0.10
mkl-random==1.0.2
more-itertools==6.0.0
mpmath==1.1.0
msgpack==1.0.0
multipledispatch==0.6.0
mysql==0.0.2
mysql-connector==2.2.9
mysql-connector-python-rf==2.2.2
mysqlclient==2.0.1
navigator-updater==0.2.1
nbconvert==5.6.1
nbdime==2.0.0
nbformat==5.0.7
networkx==2.2
nltk==3.4
nose==1.3.7
notebook==6.1.3
numba==0.43.1
numexpr==2.6.9
numpy==1.16.1
numpydoc==0.8.0
oauthlib==3.1.0
olefile==0.46
opencv-python==4.2.0.34
openpyxl==2.6.1
opt-einsum==3.3.0
packaging==20.4
pamela==1.0.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.7.1
partd==0.3.10
path.py==11.5.0
pathlib2==2.3.3
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pkginfo==1.5.0.1
pluggy==0.13.1
ply==3.11
portalocker==2.0.0
prometheus-client==0.8.0
prompt-toolkit==2.0.10
protobuf==3.12.4
psutil==5.7.3
ptyprocess==0.6.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pycrypto==2.6.1
pycurl==7.43.0.2
pyflakes==2.2.0
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.3.1
pyodbc==4.0.26
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.6.8
pytest==4.3.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-dateutil==2.8.1
python-editor==1.0.4
python-json-logger==0.1.11
pytorch-crf==0.7.2
pytz==2020.1
PyWavelets==1.0.2
PyYAML==5.3.1
pyzmq==19.0.2
qgrid==1.3.1
QtAwesome==0.5.7
qtconsole==4.4.3
QtPy==1.7.0
readme-renderer==26.0
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rfc3986-validator==0.1.1
rope==0.12.0
rsa==4.6
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
sacrebleu==1.4.14
scapy==2.4.4
scikit-image==0.14.2
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
SecretStorage==3.1.2
Send2Trash==1.5.0
sentencepiece==0.1.92
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
smmap==3.0.4
snowballstemmer==1.2.1
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.8
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.0
spyder==3.3.3
spyder-kernels==0.4.2
SQLAlchemy==1.3.1
sqlparse==0.4.1
statsmodels==0.9.0
strip-hints==0.1.9
sympy==1.3
tables==3.5.1
tabulate==0.8.7
tblib==1.3.2
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
toml==0.10.1
toolz==0.9.0
torch==1.5.1
TorchCRF==1.1.0
torchfile==0.1.0
torchtext==0.6.0
torchvision==0.6.1
tornado==6.0.4
tox==3.19.0
tqdm==4.48.2
traitlets==4.3.3
twine==3.2.0
unicodecsv==0.14.1
urllib3==1.24.2
virtualenv==20.0.30
visdom==0.1.8.9
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.4.2
wrapt==1.12.1
wurlitzer==1.0.2
xlrd==1.2.0
XlsxWriter==1.1.5
xlwt==1.3.0
zict==0.1.4
zipp==3.1.0
zope.event==4.5.0
zope.interface==5.2.0
